/* COMMON */

body{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    background: #F6F5F0;}

.material-icons{
        color: #F6F5F0;
        font-size: 20px;
        font-weight: 700;
        padding-top: 7px;
        padding-left: 10px;
        white-space: nowrap;
        cursor: pointer;
        position: absolute;
        }

    /* HEADER */
#main-bar{
    align-items: center;
}

    /* Bar1 */
#bar1{
    background-color: black;
    height: 60px;
    font-size: 14px;
    width: 100%;
    height: 60px;
    align-items: center; /* 모든 아이템 정중앙에 배치 */
    position: fixed;
}
/* Bar1-left */
#bar1-left{
    color: #F6F5F0;
}

    /* Bar1-middle */
#bar1-middle{
    background-color: lavenderblush;
    border: 0.2rem outset blue;
    outline: 0.2rem solid khaki;
    border-radius: 12px;
    margin: 0.5rem;
    padding: 1rem;
    top: 0px;
    left: 150px;
    padding-left: 500px;
    display: flex;
    align-items: center; 
    position: fixed;
}

/* SEARCH */
.search{
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    top: 12px;
    left: 180px;
    white-space: nowrap;
    cursor: pointer;
    align-items: center; 
    position: fixed;
}
.search > .search__box{
    height: 25px;
    width: 400px;s

}
.search > .material-icons{
    background-color: #F6F5F0;
    color: #000000;
    top: 12px;
    left: 590px;
    height: 20px;
    font-size: 20px;
    cursor: pointer;
    border: 0.1rem outset rgb(0, 0, 0);
    align-items: center; 
    position: fixed;
    
}

/* Bar1-right */
#bar1-right{
    color: #F6F5F0;
    display: flex;
}

    /* Bar2 */
#bar2{
    background-color: rgb(39, 39, 95);
    color: #F6F5F0;
    height: 40px;
    width: 100%;
    font-size: 20px;
    top: 60px;
    align-items: center;
    position: fixed;
}

/* Bar2-left */

.bar2-left>.material-icons#btn--open {
    display: block;
}

.bar2-left>.material-icons#btn--close {
    display: none;}
    /* nav */
nav {
    background: #000;
    color: #F6F5F0;
    font-size: 15px;
    top: 40px;
    height: calc(100vh - 60px);
    width: 300px;
    position: absolute;
    transform: translateX(-100%);
    transition: .4s;
}
.material-icons-outlined{
    color: #F6F5F0;
    font-size: 15px;
    font-weight: 700;
    padding-left: 150px;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
}

/* Bar2-middle */
#bar2-middle{
    color: #F6F5F0;
    display: fixed;
    margin-left: 100px;
    align-items: center;
    position: fixed;
}
/* Bar2-right */
#bar2-right{
    color: #F6F5F0;
    display: flex;
    margin-left: 500px;
}
    /* MAIN SECTION */


    /* FOOTER */
#footer1{
    color: #F6F5F0;
    background-color: rgb(39, 39, 95);
    height: 60px;
    font-size: 18px;
    width: 100%;
    height: 100px;
    bottom: 20px;
    padding: 10px 0 30px;
    position: fixed;
}
#footer2{
    color: #F6F5F0;
    background-color: black;
    height: 60px;
    font-size: 14px;
    width: 100%;
    height: 20px;
    bottom: 0px;
    padding: 10px 0 30px;
    position: fixed;
}

